@font-face {
    font-family: myfont;
    src: url(CreamySugar-gxnGR.ttf);
}

@font-face {
    font-family: font2;
    src: url(BeronRegular-0WARR.ttf);
}

@font-face {
    font-family: roboto1;
    src: url(Roboto-Regular.ttf);
}




html,body{
    /*width: 100vw;*/
    height: 100vh;
    max-width: 100%;
    margin: 0;

}


ul li{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

/*overall grid*/

.wr{
    width: 100%;
    height: 100%;

    padding: 0;
    margin: 0;
    display: grid;
    
    grid-template-rows: 1fr 4fr;
    grid-template-columns: 1fr 5fr;
}

.dboard{
    grid-row-start: 1;
    grid-row-end: 3;
}




/*dboard grid*/


.dboard{
    display: grid;
    grid-template-rows: 1fr 1fr 2fr 6fr;
    background-color: black;
    color: white;
    padding: 0;
    margin: 0;
}

#dbimg{
    display: inline;
}

.topdb{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-right: 3rem;
}


.dboard h3{
    font-family: myfont;
  
  
    font-size: 3rem;
}


.dboard ul li{
    font-family: font2;
    font-size: 2rem;
}

/*header section*/

.header{
    display: grid;
    grid-template-rows: 0.5fr 2fr;
    

    background-color:  #ff0000
    ;
    font-family: roboto1;

    

}

.r1{
    display: grid;
    grid-template-columns: 1fr 5fr 0.5fr 0.5fr;

    padding-top: 1rem;
}

img[src="sr.svg"]{
    align-self: center;
    justify-self: end;
}

img[src="nt.svg"],img[src="pr.svg"]{
    align-self: center;
    justify-self: center;
    width: 2rem;
    height: 2rem;
}


.r2 img[src="pr.svg"]{
    justify-self: end;
    padding-right: 1.5rem;
}

input[type="text"]{
    border-radius: 15px;
}


.r2{
    display: grid;
    grid-template-columns: 1fr 3fr 1fr 1fr 1fr;
}

.r2 .txt{
    font-family:font2;
}

button{
    width: 50%;
    height:30%;
    align-self: center;
    justify-self: center;
    border-radius: 15px;
    background-color: black;
    color: white;
}




input[type="text"]{
    background-color: black;
    color: white;
    font-family: roboto1;
    font-size: 2rem;
}


/*main scetion*/

.maincontent{
    display: grid;
    grid-template-columns: 4fr 1fr;
    grid-template-rows: 1fr 1fr;


    background-color: black;
    color:white;
    font-family: roboto1;

    padding-left: 1rem;
}

.proj{
    grid-row-start: 1;
    grid-row-end: 3;

    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
}


.card{
    background-color: #ff0000;
    color: black;
    border-radius: 15px;
    margin: 1.5rem;
    padding-inline-start: 0.3rem;
}


